location = "LOCATION"
subscription_id = "SUBSCRIPTION_ID"
tenant_id = "TENANT_ID"
client_id = "CLIENT_ID"
client_secret = "CLIENT_SECRET"

# These variables will default to the values shown
# and do not need to be updated unless you want to
# change them
# allowlist_ip            = "0.0.0.0/0"
# name                    = "nomad"
# server_instance_type    = "Standard_B2s"
# server_count            = "3"
# client_instance_type    = "Standard_B2s"
# client_count            = "2"
# nomad_version           = "1.5.0"